body {
    background-image: url("https://images.pexels.com/photos/5645557/pexels-photo-5645557.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*button {*/
/*    font-family: "Bookman Old Style";*/
/*    width: 270px;*/
/*    margin: 40px auto;*/
/*    padding: 5px;*/
/*    height: fit-content;*/
/*    background: linear-gradient(to right, whitesmoke, olive);*/
/*    border-radius: 20px;*/
/*    transition: .5s;*/
/*    box-shadow: 0 0 20px 9px whitesmoke;*/

/*}*/
/*.container {*/
/*    border-radius: 20px;*/
/*    padding: 10px;*/
/*    margin: 20%;*/
/*    width: fit-content;*/
/*    height: 50%;*/
/*    border: black;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*    background: linear-gradient(to right, whitesmoke, darkolivegreen);*/
/*    box-shadow: 0 0 20px 9px whitesmoke;*/
/*}*/






/* Main Navigation */
/*nav {*/
/*    width: 79%;*/
/*    height: fit-content;*/
/*    margin: 0;*/
/*    margin-top: 7px;*/
/*    padding-left: 20%;*/
/*    font-family: "Bookman Old Style";*/
/*    font-size: xx-large;*/
/*    border-radius: 30px;*/
/*    box-shadow: 0 0 20px 9px whitesmoke;*/
/*    position: fixed;*/
/*    background-color: white;*/


/*}*/

/*ul#navigation {*/
/*    margin: 0px auto;*/
/*    position: relative;*/
/*    float: left;*/
/*    border-color: olive;*/
/*    border-radius: 20px;*/

/*}*/

/*ul#navigation li {*/
/*    display: inline;*/
/*    font-size: 25px;*/
/*    font-weight: bold;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    float: left;*/
/*    position: relative;*/

/*}*/

/*ul#navigation li a {*/
/*    padding: 10px 25px;*/
/*    color: olive;*/
/*    text-shadow: 1px 1px 0px #fff;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    border-right: 1px solid #fff;*/
/*    border-left: 1px solid #C2C2C2;*/
/*    border-top: 1px solid #fff;*/
/*    background: #f5f5f5;*/

/*    -webkit-transition: color 0.2s linear, background 0.2s linear;*/
/*    -moz-transition: color 0.2s linear, background 0.2s linear;*/
/*    -o-transition: color 0.2s linear, background 0.2s linear;*/
/*    transition: color 0.2s linear, background 0.2s linear;*/
/*}*/

/*ul#navigation li a:hover {*/
/*    background: olivedrab;*/
/*    color: darkolivegreen;*/
/*}*/

/*ul#navigation li a.first {*/
/*    border-left: 0 none;*/
/*}*/

/*ul#navigation li a.last {*/
/*    border-right: 0 none;*/
/*}*/

/*ul#navigation li:hover > a {*/
/*    background: darkseagreen;*/
/*}*/

/*!* Drop-Down Navigation *!*/
/*ul#navigation li:hover > ul {*/

/*    visibility: visible;*/
/*    opacity: 1;*/
/*}*/

/*ul#navigation ul, ul#navigation ul li ul {*/
/*    list-style: none;*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*    !*the next 2 styles are very important,*/
/*    being the ones which make the drop-down to stay hidden *!*/
/*    visibility: hidden;*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*    z-index: 99999;*/
/*    width: 180px;*/
/*    height: fit-content;*/
/*    text-align: center;*/
/*    background: whitesmoke;*/
/*    font-family: "Bookman Old Style";*/
/*    box-shadow: 0 0 20px 9px darkolivegreen;*/
/*    border-radius: 20px;*/
/*    -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;*/
/*    -moz-transition: opacity 0.2s linear, visibility 0.2s linear;*/
/*    -o-transition: opacity 0.2s linear, visibility 0.2s linear;*/
/*    transition: opacity 0.2s linear, visibility 0.2s linear;*/
/*}*/

/*ul#navigation ul {*/
/*    top: 23px;*/
/*    left: 1px;*/
/*}*/

/*ul#navigation ul li ul {*/
/*    top: 0;*/
/*    left: 181px; !* strong related to width:180px; from above *!*/
/*}*/

/*ul#navigation ul li {*/
/*    clear: both;*/
/*    width: 50%;*/
/*    border: 0 none;*/
/*    border-bottom: 1px solid #c9c9c9;*/
/*}*/

/*ul#navigation ul li a {*/
/*    background: none;*/
/*    padding: 7px 15px;*/
/*    color: #616161;*/
/*    text-shadow: 1px 1px 0px #fff;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    border: 0 none;*/
/*    float: left;*/
/*    clear: both;*/
/*    width: 150px;*/
/*}*/


#loginPlace {
    text-align: right;
}

#login input {
    width: 100px;
    height: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;

}

#main {
    width: 100%;
    height: 600px;
}
/*logoutbutton*/
#logoutBut {
    width: 100px;
    margin: 4px;
    box-shadow: 0 0 20px 9px whitesmoke;

}
/*#footer {*/
/*    font-family: "Bookman Old Style";*/
/*    box-shadow: 0 0 20px 9px whitesmoke;*/
/*    color: olivedrab;*/
/*    width: 99%;*/
/*    height: fit-content;*/
/*    font-size: large;*/
/*    margin: 1px;*/
/*    padding: 10px;*/
/*    border-radius: 20px;*/
/*    text-align: center;*/
/*    background: whitesmoke;*/

/*}*/


/*h6 {*/
/*    text-align: center;*/
/*    font-size: xx-large;*/
/*    font-family: "Bookman Old Style";*/
/*    box-shadow: 0 0 20px 9px whitesmoke*/
/*}*/

/*!*main menu*!*/
/*#page10 div {*/
/*    width: 300px;*/
/*    height: fit-content;*/
/*    background: linear-gradient(to right, whitesmoke, darkolivegreen);*/
/*    box-shadow: 0 0 20px 9px olivedrab;*/
/*    font-family: "Bookman Old Style";*/
/*    text-align: center;*/
/*    font-size: small;*/
/*    margin: 40px auto;*/
/*    padding: inherit;*/
/*    border-radius: 20px;*/
/*    display: inline-table;*/
/*    flex-flow: inherit;*/
/*}*/

/*#page10 #logoutBut{*/
/*    width: 100px;*/
/*    margin: 4px;*/
/*    box-shadow: 0 0 20px 9px whitesmoke;*/
/*    float: right;*/
/*}*/

/*#page10   input {*/
/*    font-family: "Bookman Old Style";*/
/*    font-size: large;*/
/*    border-radius: 10px;*/
/*    width: 20%;*/
/*    height: 60%;*/
/*    text-decoration-color: black;*/

/*}*/

/*#page10 #exitbut{*/
/*    width: 35%;*/
/*    height: fit-content;*/
/*    text-align: center;*/
/*    box-shadow: 0 0 20px 9px whitesmoke;*/
/*    display: inherit;*/
/*}*/


/*#page10 #footer{*/
/*    font-family: "Bookman Old Style";*/
/*    box-shadow: 0 0 20px 9px whitesmoke;*/
/*    color: olivedrab;*/
/*    width: 99%;*/
/*    height: fit-content;*/
/*    font-size: large;*/
/*    margin: 1px;*/
/*    padding:10px;*/
/*    border-radius: 20px;*/
/*    text-align: center;*/
/*    background: whitesmoke;*/
/*}*/
