/**/

/* form background image for all the forms  */

body {
    background-image: url("https://images.pexels.com/photos/5645557/pexels-photo-5645557.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
/* Main Navigation */
#nav {
    font-family: "Bookman Old Style";
    text-align: center;
    font-size: x-large;
    width: 100%;
    height: fit-content;
    background-color: whitesmoke;
    margin: 0;
    border-radius: 30px;
    position: absolute;
    box-shadow: 0 0 20px 9px whitesmoke;

}

ul#navigation {
    margin:0px auto;
    border-color: olive;
    border-radius: 20px;
    width: fit-content;
    text-align: center;

}
ul#navigation li {
    display:inline;
    font-size:25px;
    font-weight:bold;
    margin:0;
    padding:0;
    float: left;
    position:relative;

}

ul#navigation li a {
    padding:10px 25px;
    color:olive;
    text-shadow:1px 1px 0px #fff;
    text-decoration:none;
    display:inline-block;
    border-right:1px solid #fff;
    border-left:1px solid #C2C2C2;
    border-top:1px solid #fff;
    background: #f5f5f5;

    -webkit-transition:color 0.2s linear, background 0.2s linear;
    -moz-transition:color 0.2s linear, background 0.2s linear;
    -o-transition:color 0.2s linear, background 0.2s linear;
    transition:color 0.2s linear, background 0.2s linear;
}

ul#navigation li a:hover {
    background:olivedrab;
    color:darkolivegreen;
}

ul#navigation li a.first {
    border-left: 0 none;
}

ul#navigation li a.last {
    border-right: 0 none;
}

ul#navigation li:hover > a {
    background:darkseagreen;
}
/* Drop-Down Navigation */
ul#navigation li:hover > ul
{

    visibility:visible;
    opacity:1;
}

ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    /*the next 2 styles are very important,
    being the ones which make the drop-down to stay hidden */
    visibility:hidden;
    opacity:0;
    position: absolute;
    z-index: 99999;
    width:180px;
    height: fit-content;
    text-align: center;
    background:whitesmoke;
    font-family: "Bookman Old Style";
    box-shadow: 0 0 20px 9px darkolivegreen;
    border-radius: 20px;
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear;
    -o-transition:opacity 0.2s linear, visibility 0.2s linear;
    transition:opacity 0.2s linear, visibility 0.2s linear;
}

ul#navigation ul {
    top: 50px;
    left: 1px;
    float: right;
}

ul#navigation ul li ul {
    top: 0;
    left: 181px; /* strong related to width:180px; from above */
}

ul#navigation ul li {
    clear:both;
    width:100%;
    border:0 none;
    border-bottom:3px solid #c9c9c9;
}

ul#navigation ul li a {
    background:none;
    padding:7px 15px;
    color:#616161;
    text-shadow:1px 1px 0px #fff;
    text-decoration:none;
    display:inline-block;
    border:0 none;
    float:left;
    clear:both;
    width:fit-content;
    height: fit-content;
}

/*Delete Habitat*/
#page1 .container {
    border-radius: 20px;
    padding: 5%;
    margin: 5%;
    width: 50%;
    height: fit-content;
    border: black;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(to right, whitesmoke, darkolivegreen);
}
#page1 #logoutBut{
    width: 100px;
    margin: 4px;
    box-shadow: 0 0 20px 9px whitesmoke;
}

#page1  button {
    font-family: "Bookman Old Style";
    width: 220px;
    margin: 5px;
    padding: 10px;
    height: 100%;
    background: linear-gradient(to right, whitesmoke, olive);
    border-radius: 20px;
    transition: .5s;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 20px 9px whitesmoke;
}
#page1 div{
    border-radius: 30px;
    margin: 10px;
    padding:10px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 9px whitesmoke;
}
#page1 select{
    border-radius: 30px;
    height: 30px;
    width: 50%;
}
#page1 td{
    font-size: large;
    font-family: "Bookman Old Style";
    width: 120px;
    margin: 20px;
    padding: 10px;
    height: 100%;
    border-radius: 20px;
}
#page1 input{
    text-align: center;
    font-size: large;
    margin: 30px;
    padding: 20px;
    width: 120px;
    height: 50px;
    border-radius: 30px;
    transition: .5s;
    font-family: "Bookman Old Style";
}
#page1 h1{
    font-size: xx-large;
    font-family: "Bookman Old Style";
    text-align: center;
}

#page1 label{
    font-size: large;
    font-family: "Bookman Old Style";
    text-align: center;
}

#page1 #footer{
    font-family: "Bookman Old Style";
    box-shadow: 0 0 20px 9px whitesmoke;
    color: olivedrab;
    width: 100%;
    height: fit-content;
    font-size: large;
    margin: 1px;
    padding:10px;
    border-radius: 20px;
    text-align: center;
    background: whitesmoke;
}

/*Produce Observation report*/
#page2   button {
    font-family: "Bookman Old Style";
    width: 270px;
    margin: 40px auto;
    padding: 5px;
    height: fit-content;
    background: linear-gradient(to right, whitesmoke, olive);
    border-radius: 20px;
    transition: .5s;
    box-shadow: 0 0 20px 9px whitesmoke;
    display: flow-root;
}
#page2 #logoutBut{
    width: 100px;
    margin: 4px;
    box-shadow: 0 0 20px 9px whitesmoke;
}
#page2 #habitat_report {
    border-radius: 20px;
    font-family: "Bookman Old Style";
    background: linear-gradient(to right, darkseagreen, whitesmoke);
    box-shadow: 0 0 20px 9px olive;
    margin: 40px auto;
    width: 600px;
    text-align: center;
    height: fit-content;
}

#page2 #footer{
    font-family: "Bookman Old Style";
    box-shadow: 0 0 20px 9px whitesmoke;
    color: olivedrab;
    width: 100%;
    height: fit-content;
    font-size: large;
    margin: 1px;
    padding:10px;
    border-radius: 20px;
    text-align: center;
    background: whitesmoke;
}

/* Assign Land use*/

#page3 div {
    border-radius:20px;
    padding: 10%;
    margin: 7%;
    width: 450px;
    height: 60%;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(to right, whitesmoke, darkolivegreen);
    box-shadow: 0 0 20px 9px olivedrab;
}
#page3 #logoutBut{
    width: 100px;
    margin: 4px;
}

#page3 button {
    font-family: "Bookman Old Style";
    width: 220px;
    margin: 1px;
    padding: 10px;
    height: 60%;
    background: linear-gradient(to right, whitesmoke, olive);
    border-radius: 30px;
    transition: .5s;
    background-position: center;
    box-shadow: 0 0 20px 9px whitesmoke;
    color: black;

}
#page3 select{
    border-radius: 30px;
    height: 30px;
    width: 100%;
}

#page3  h1{
    font-size: xx-large;
    font-family: "Bookman Old Style";
    text-align: center;
}


#page3 #footer{
    font-family: "Bookman Old Style";
    box-shadow: 0 0 20px 9px whitesmoke;
    color: olivedrab;
    width: 100%;
    height: fit-content;
    font-size: large;
    margin: 1px;
    padding:10px;
    border-radius: 20px;
    text-align: center;
    background: whitesmoke;
}

/*Remove Land use*/
#page4 .container {
    border-radius:20px;
    padding: 5%;
    margin: 5%;
    width: fit-content;
    height: 800px;
    border: black;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(to right, whitesmoke, darkolivegreen);
    box-shadow: 0 0 20px 9px olive;
}
#page4 #logoutBut{
    width: 100px;
    margin: 4px;
    box-shadow: 0 0 20px 9px whitesmoke;
}

#page4 button {
    font-family: "Bookman Old Style";
    text-align: center;
    width: 300px;
    margin: 20px;
    padding: 5px;
    height: fit-content;
    background: linear-gradient(to right, whitesmoke, olive);
    border-radius: 20px;
    transition: .5s;
    box-shadow: 0 0 20px 9px whitesmoke;
}


#page4 td{
    font-size: large;
    font-family: "Bookman Old Style";
    width: fit-content;
    margin: 20px;
    padding: 10px;
    height: fit-content;
    border-radius: 20px;

}
#page4 select{
    border-radius: 30px;
    height: 30px;
    width: 60%;
}

#page4 input{
    text-align: center;
    font-size: large;
    margin: 5px;
    padding: 5px;
    width: fit-content;
    height: 40px;
    border-radius: 30px;
    transition: .5s;
    font-family: "Bookman Old Style";
}

#page4  h1{
    font-size: xx-large;
    font-family: "Bookman Old Style";
    text-align: center;
}

#page4 label{
    font-size: large;
    font-family: "Bookman Old Style";
    text-align: center;
}
#page4 div{
    font-family: "Bookman Old Style";
    box-shadow: 0 0 20px 9px whitesmoke;
    color: black;
    width: 100%;
    font-size: large;
    margin: 10px;
    padding:10px;
    border-radius: 20px;
}
#page4 #footer{
    font-family: "Bookman Old Style";
    box-shadow: 0 0 20px 9px whitesmoke;
    color: olivedrab;
    width: 100%;
    height: fit-content;
    font-size: large;
    margin: 1px;
    padding:10px;
    border-radius: 20px;
    text-align: center;
    background: whitesmoke;
}


/*Add Land use*/
#page5  .container {

    border-radius:20px;
    padding: 10%;
    margin: 20%;
    width: 25%;
    height: fit-content;
    border: black;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(to right, whitesmoke, darkolivegreen);
    box-shadow: 0 0 20px 9px whitesmoke;
}
#page5 #logoutBut{
    width: 100px;
    margin: 4px;
    box-shadow: 0 0 20px 9px whitesmoke;
}
#page5    button {
    font-family: "Bookman Old Style";
    width: 150px;
    margin: 10px;
    padding: 10px;
    height: 80%;
    background: linear-gradient(to right, whitesmoke, olive);
    border-radius: 20px;
    transition: .5s;
    box-shadow: 0 0 20px 9px darkolivegreen;
}
#page5 label {
    font-size: large;
    font-family: "Bookman Old Style";
    text-align: center;
}

#page5   td{
    font-size: large;
    font-family: "Bookman Old Style";
    width: fit-content;
    margin: 20px;
    padding: 10px;
    height: fit-content;
    border-radius: 20px;

}

#page5  input{
    text-align: center;
    font-size: large;
    margin: 15px;
    padding: 15px;
  
    height: fit-content;
    border-radius: 30px;
    transition: .5s;
    
}

#page5  h1{
    font-size: xx-large;
    font-family: "Bookman Old Style";
    text-align: center;
}

#page5 div{

    font-family: "Bookman Old Style";
    box-shadow: 0 0 20px 9px whitesmoke;
    color: black;
    width: 100%;
    font-size: large;
    margin: 10px;
    padding:10px;
    border-radius: 20px;
}

#page5 #footer{
    font-family: "Bookman Old Style";
    box-shadow: 0 0 20px 9px whitesmoke;
    color: olivedrab;
    width: 100%;
    height: fit-content;
    font-size: large;
    margin: 1px;
    padding:10px;
    border-radius: 20px;
    text-align: center;
    background: whitesmoke;
}
/*Update Land use*/
#page6 .container {
    border-radius: 20px;
    padding: 5%;
    margin: 5%;
    width: 600px;
    height:fit-content;
    border: black;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(to right, whitesmoke, darkolivegreen);
}
#page6 #logoutBut{
    width: 100px;
    margin: 4px;
    box-shadow: 0 0 20px 9px whitesmoke;
}
#page6 button {
    font-family: "Bookman Old Style";
    width: 250px;
    margin: 7px;
    padding: 10px;
    height: fit-content;
    background: linear-gradient(to right, whitesmoke, darkseagreen);
    border-radius: 20px;
    transition: .5s;
    box-shadow: 0 0 20px 9px whitesmoke;
    float: right;
}



#page6  td{
    font-size: large;
    font-family: "Bookman Old Style";
    width:20px;
    margin: 1px;
    padding: 10px;
    height: fit-content;
    border-radius: 20px;
}
#page6 select{
    border-radius: 30px;
    height: 30px;
    width: 60%;
}
#page6 input{
    text-align: center;
    font-size: large;
    margin: 10px;
    padding: 15px;
    width: 220px;
    height: fit-content;
    border-radius: 30px;
    transition: .5s;
    font-family: "Bookman Old Style";
}
#page6 h1{
    font-size: xx-large;
    font-family: "Bookman Old Style";
    text-align: center;
    color: black;
}

#page6 label{
    font-size: large;
    font-family: "Bookman Old Style";
    text-align: center;
    color: black;
}

#page6 div{

    font-family: "Bookman Old Style";
    box-shadow: 0 0 20px 9px whitesmoke;
    color: whitesmoke;
    width: 100%;
    height: fit-content;
    font-size: large;
    margin: 10px;
    padding:10px;
    border-radius: 20px;
}
#page6 #footer{
    font-family: "Bookman Old Style";
    box-shadow: 0 0 20px 9px whitesmoke;
    color: olivedrab;
    width: 100%;
    height: fit-content;
    font-size: large;
    margin: 1px;
    padding:10px;
    border-radius: 20px;
    text-align: center;
    background: whitesmoke;
}




/* Delete Landuse */

#page7 .container {
    border-radius:20px;
    padding: 10%;
    margin: 10%;
    width: 600px;
    height: fit-content;
    border: black;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(to right, whitesmoke, darkolivegreen);
}

#page7 #logoutBut{
    width: 100px;
    margin: 4px;
    box-shadow: 0 0 20px 9px whitesmoke;
}

#page7  button {
    font-family: "Bookman Old Style";
    width: 220px;
    margin: 5px;
    padding: 10px;
    height: 100%;
    background: linear-gradient(to right, whitesmoke, olive);
    border-radius: 20px;
    transition: .5s;
    box-shadow: 0 0 20px 9px darkolivegreen;
}

#page7  td{
    font-size: large;
    font-family: "Bookman Old Style";
    width: fit-content;
    margin: 20px;
    padding: 10px;
    height: 100%;
    border-radius: 20px;
    color: black;
}
#page7  select{
    border-radius: 30px;
    height: 30px;
    width: 60%;
    color: black;
}
#page7 input{
    text-align: center;
    font-size: large;
    margin: 30px;
    padding: 20px;
    width: 120px;
    height: 50px;
    border-radius: 30px;
    transition: .5s;
    font-family: "Bookman Old Style";
}

#page7  h1{
    font-size: xx-large;
    font-family: "Bookman Old Style";
    text-align: center;
    color: black;
}
#page7 label{
    font-size: large;
    font-family: "Bookman Old Style";
    text-align: center;
    color: black;

}
#page7 div{

    font-family: "Bookman Old Style";
    box-shadow: 0 0 20px 9px whitesmoke;
    color: black;
    width: 100%;
    font-size: large;
    margin: 10px;
    padding:10px;
    border-radius: 20px;

}

#page7 #footer{
    font-family: "Bookman Old Style";
    box-shadow: 0 0 20px 9px whitesmoke;
    color: olivedrab;
    width: 100%;
    height: fit-content;
    font-size: large;
    margin: 1px;
    padding:10px;
    border-radius: 20px;
    text-align: center;
    background: whitesmoke;
}

/*Produce landuse report*/
#page8   button {
    font-family: "Bookman Old Style";
    width: 270px;
    margin: 40px auto;
    padding: 5px;
    height: fit-content;
    background: linear-gradient(to right, whitesmoke, olive);
    border-radius: 20px;
    transition: .5s;
    box-shadow: 0 0 20px 9px whitesmoke;
    display: flow-root;
}
#page8 #logoutBut{
    width: 100px;
    margin: 4px;
    box-shadow: 0 0 20px 9px whitesmoke;
}
#page8 #landuse_report{
    border-radius: 30px;
    font-family: "Bookman Old Style";
    background: linear-gradient(to right, darkseagreen,whitesmoke);
    box-shadow: 0 0 20px 9px olive;
    margin: auto;
    width: fit-content;
    display: flow;
    text-align: center;
}

#page8 td{
    font-size: large;
    font-family: "Bookman Old Style";
    width: fit-content;
    margin: 20px;
    padding: 10px;
    height: fit-content;
    border-radius: 20px;

}

#page8 #footer{
    font-family: "Bookman Old Style";
    box-shadow: 0 0 20px 9px whitesmoke;
    color: olivedrab;
    width: 100%;
    height: fit-content;
    font-size: large;
    margin: 1px;
    padding:10px;
    border-radius: 20px;
    text-align: center;
    background: whitesmoke;

}

/*Produce Site Habitat Report*/
#page9  button {
    font-family: "Bookman Old Style";
    text-align: center;
    width: 270px;
    margin: 50px;
    padding: 5px;
    height: fit-content;
    background: linear-gradient(to right, whitesmoke, olive);
    border-radius: 20px;
    transition: .5s;
    box-shadow: 0 0 20px 9px darkolivegreen;
}
#page9 #logoutBut{
    width: 100px;
    margin: 4px;
    box-shadow: 0 0 20px 9px whitesmoke;
}
#page9 div{
    border-radius: 20px;

    font-family: "Bookman Old Style";
    background: linear-gradient(to right, whitesmoke, darkolivegreen);
    box-shadow: 0 0 20px 9px olive;
}
#page9
td{
    font-size: large;
    font-family: "Bookman Old Style";
    width: fit-content;
    margin: 20px;
    padding: 10px;
    height: fit-content;
    border-radius: 20px;

}

#page9 #footer{
    font-family: "Bookman Old Style";
    box-shadow: 0 0 20px 9px whitesmoke;
    color: olivedrab;
    width: 100%;
    height: fit-content;
    font-size: large;
    margin: 1px;
    padding:10px;
    border-radius: 20px;
    text-align: center;
    background: whitesmoke;

}

/*main menu*/
#page10 div {
    width: 320px;
    height: fit-content;
    background: linear-gradient(to right, whitesmoke, darkolivegreen);
    box-shadow: 0 0 20px 9px olivedrab;
    font-family: "Bookman Old Style";
    text-align: center;
    font-size: small;
    margin: 40px auto;
    padding: inherit;
    border-radius: 20px;
    display: inline-table;
    flex-flow: inherit;
}


#page10 #loggedin{
    font-size: xx-large;
    height: fit-content;
    float: right;
}



#page10 #logoutbut{
    font-size: xx-large;
    height: fit-content;
    float: right;
    color:   darkolivegreen;
    box-shadow: 0 0 20px 9px darkolivegreen;
    background: linear-gradient(to right, whitesmoke, darkolivegreen);
}

#page10   input {
    font-family: "Bookman Old Style";
    font-size: large;
    border-radius: 10px;
    width: 20%;
    height: 60%;
    color:   darkolivegreen;
    box-shadow: 0 0 20px 9px darkolivegreen;

}

#page10 #exitbut{
    width: 20%;
    height: fit-content;
    text-align: center;
    display: inherit;
    box-shadow: 0 0 20px 9px darkolivegreen;
    background: linear-gradient(to right, whitesmoke, darkolivegreen);

}

#page10  h1 {
    text-align: center;
    color:   darkolivegreen;
    box-shadow: 0 0 20px 9px whitesmoke;
}
#page10 #footer{
    font-family: "Bookman Old Style";
    box-shadow: 0 0 20px 9px whitesmoke;
    color: olivedrab;
    width: 100%;
    height: fit-content;
    font-size: large;
    margin: 1px;
    padding:10px;
    border-radius: 20px;
    text-align: center;
    background: whitesmoke;
}
#page10 #exitbut{
    font-size: large;
    height: fit-content;
    text-align: center;
}